<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.randomappsinc.pokemonlocations_pokemongo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAayt8MJ1l7lStd9ljhgB97xWc5zxI7a50"/>

        <meta-data
            tools:replace="android:value"
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.FavoritesActivity"
            android:label="@string/favorites"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activities.PokeFindingsActivity"
            android:label="@string/poke_findings"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activities.AddListingActivity"
            android:label="@string/add_pokemon_listing"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".Activities.PokeLocationActivity"
            android:label="@string/location_view"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>